#root {
  background-size: cover;
  min-height: 100vh;
  //background-image: url("./assets/background.jpg");
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.layoutDetect {
  padding: 60px 0 30px;
}

.layoutDetect-Wrap {
  padding: 6px;
  border: 3px solid #000a8b;
  border-radius: 6px;
}

#textInput {
  /* width: 600px; */
  height: 100px;
}

ul {
  list-style: none;
}

.textShadow {
  text-shadow: 1px 0.25px grey;
}

h2 {
  background: -webkit-linear-gradient(#ff0039, #6200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-input img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #ce00fc;
  border-radius: 6px;
}

.backgroundBox {
  margin-bottom: 6px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #ce00fc;
}

#file {
  display: none;
}

.audio {
  font-size: 2rem;
  color: #0a58ca;
  cursor: pointer;
}
