#root {
  background-size: cover;
  min-height: 100vh;
  //background-image: url("./assets/background.jpg");
}

* {
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.layoutDetect {
  padding: 60px 0 30px;
}

.layoutDetect-Wrap {
  padding: 6px;
  border: 3px solid #2caa11;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 3px #0a1507;
}

#textInput {
  /* width: 600px; */
  height: 100px;
}

ul {
  list-style: none;
}

.textShadow {
  text-shadow: 1px 0.25px grey;
}

h2.textShadow {
  text-shadow: 1px 2px 1px black;
  /* background: -webkit-linear-gradient(#f9ff00, #1eff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.img-input img {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #ce00fc;
  border-radius: 6px;
}

.backgroundBox {
  margin-bottom: 6px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #ce00fc;
}

#file {
  display: none;
}

.audio {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.text-input,
.text-output {
  width: 49% !important;
  border-radius: 6px;
  min-height: 150px;
  border: 1px solid rgb(0 0 0 / 12%);
  padding: 18px 0;
}

.wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.swap-icon {
  /* top: -46px;
  left: 46.7%;
  position: absolute; */
  padding: 0;
  margin: 0 0 6px;
}

.form-select {
  position: absolute;
  top: 0px;
  right: 37%;
  width: 10% !important;
}

.icon-speaker {
  position: absolute;
  bottom: 23%;
  font-size: 1.4rem;
  cursor: pointer;
  width: 50px !important;
  padding: 6px !important;
  border-radius: 100%;
  text-align: center;
}

.icon-speaker:hover {
  background-color: #f5f5f5;
}

.tool {
  padding: 0 !important;
  position: absolute;
}

.wrap-detect {
  display: flex;
}
